In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv('metrics.csv')

In [4]:
df.head()

,timestamp,student,tutor,topic,general_progress,response_time,proposals_received,chosen_tutor,rejected_count,peer_used
0,2025-11-19 18:17:26.786723,student1,tutor3@localhost,estatística bayesiana,0.225145,17.92,0,tutor3@localhost,-1,False
1,2025-11-19 18:17:27.388515,student3,tutor2@localhost,álgebra,0.136505,18.06,0,tutor2@localhost,-1,False
2,2025-11-19 18:17:28.786762,student2,tutor3@localhost,aprendizagem automática,0.147035,19.69,2,tutor3@localhost,1,False
3,2025-11-19 18:17:31.786308,student1,tutor2@localhost,álgebra,0.235203,22.92,0,tutor2@localhost,-1,False

In [5]:
df.describe()

       general_progress  response_time  proposals_received  rejected_count
count          4.000000         4.0000                 4.0             4.0
mean           0.185972        19.6475                 0.5            -0.5
std            0.051385         2.3249                 1.0             1.0
min            0.136505        17.9200                 0.0            -1.0
25%            0.144403        18.0250                 0.0            -1.0
50%            0.186090        18.8750                 0.0            -1.0
75%            0.227660        20.4975                 0.5            -0.5
max            0.235203        22.9200                 2.0             1.0

In [ ]:
df.timestamp = pd.to_datetime(df.timestamp)
df = df.sort_values(by='timestamp')